body {
    background-color: rgb(11, 2, 43);
}

.nav {
    display: inline-flex;
    color: aliceblue;
    font-size: large;
    font-family: 'Jost', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Press Start 2P', cursive;
}

.nav p {
    margin: 7 0;
}

.nav img {
    margin-left: -18px;
    margin-right: -18px;
}

.game-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: -29px 30px;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons button {
    width: 80px;
    height: 30px;
    margin: 2px;
    background-color: rgb(132, 194, 212);
    border: 1px solid rgb(40, 137, 175);
    border-radius: 8px;
    font-size: 15px;
    color: rgb(10, 71, 95);
}

.buttons button:hover {
    background-color: rgb(110, 140, 179);
}

.buttons button:active {
    background-color: rgb(22, 67, 134);
}

.info-game div {
    width: 200px;
    height: 100px;
    justify-self: center;
    border: 1px solid rgb(191, 191, 241);
    border-radius: 8px;
}

.info-game p {
    font-size: smaller;
    color: rgb(138, 167, 231);
    font-family: verdana;
    font-weight: 500;
    margin: 6px;
    margin-left: 10px;
}

.info-game p:first-child {
    margin-top: 18px;
}

#game {
    border-radius: 2px;
    border: 3px solid rgb(76, 84, 196);
    padding: 12px;
    background-color: rgb(131, 154, 161);
    box-shadow: 10px 5px 18px rgb(44, 38, 73);
}

.sign {
    border-radius: 8px;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 35%;
    left: 34%;
}

.sign div {
    margin-top: 10px;
    margin-bottom: 14px;
}

.sign p {
    margin: 7px;
}

.sign p:first-child {
    margin-top: 17px;
}

.sign button {
    background: none;
    border-radius: 10px;
    width: 100px;
    height: 30px;
}

.game-over {
    border: 4px solid rgb(122, 18, 18);
    background-color: brown;
    color: white;
}

.game-over button {
    border: 2px solid rgb(122, 18, 18);
    color: rgb(253, 176, 176);
}

.game-over button:hover {
    background: rgb(122, 18, 18);
}
.game-over button:active {
    background: rgb(99, 10, 10);
    border: 2px solid rgb(99, 10, 10);
}

.game-won {
    border: 4px solid rgb(139, 106, 14);
    background-color: rgb(230, 193, 91);
    color: rgb(151, 117, 44);
}

.game-won button {
    border: 2px solid rgb(139, 106, 14);
    color: rgb(245, 222, 161);
}

.game-won button:hover {
    background: rgb(139, 106, 14);
}
.game-won button:active {
    background: rgb(119, 89, 8);
    border: 2px solid rgb(119, 89, 8);
}

img {
    margin-top: -39px;
    width: 120px;
}

.inactive {
    display: none;
}

@media (max-width: 890px) {

    .game-container {
        display: block;
    }

    .buttons button {
        width: 75px;
        height: 35px;
        font-size: 18px;
    }

    .buttons div {
        display: inline;
    }

    .buttons {
        margin-bottom: 40px;
        margin-top: -26px;
    }

    .info-game {
        margin: 58px 30%;
    }
}